@font-face{
    font-family: 'scada';
    src: url('../fonts/scada/Scada-Regular.ttf');
}
#background-drone img{
    width: 100%;
    z-index: -2;
    position: fixed;
    top: 200px;
    
}
body{
    background-color: #dddddd;
}
footer{
    height: 500px;
    background-color: #dddddd;

}
.galleria{
    margin: auto;
    top: 50px;
    border-radius: 8px;
    position: relative;
    width: 100%; 
    height: 400px; 
}
h1 h2, h3{
    margin-top: 10vw;
}
h1{
    text-align: center;
}
li {
    display: list-item;
}
.nav{
    
}
#maintitle{
    font-size: 4vw;
    font-family: scada;
    margin-bottom: 2vw;
}
p, samp{
    color: #ffffff;
    font-size: 2vw;
    font-family: scada;
}
#paragraph1{
    position: absolute;
    padding-top: 100px;
}
#side{
        position: fixed;
        left: 1vw;
        line-height: 50px;
        /* margin-top: -5%; */
        text-align: left;
        width: 90px;
        z-index: 100;
        color:red;
}
#topnav {
    background-color: #23a3c6;
    padding-left: 24vw;
    height: 5vw;
}
#topnav li{
    line-height: 5vw;
    float: left;
    padding-right: 20vw;
    font-family: scada;

}


